nutHosts:
  - host: 192.168.1.178
    port:
    name: RaspberryPi
    credentials:
      - username: upsmon
        password: bigpassword

wakeHosts:
  - name: MainServer
    mac: 00:00:00:00:00:00
    broadcast: 192.168.1.255
    port: 9
    nutHost:
      name: RaspberryPi
      username: upsmon # Matches the username in the nutHosts section
    rules:
      - 80percentOn.rego
