nut_servers:
  - name: nut_server_1
    host: 192.168.1.133
    port: 3493
    username: upsmon
    password: password
    targets:
      - name: nas_1
        mac: "zz:yy:xx:xx:yy:zz"
        broadcast: 192.168.1.255
        port: 9
        interval: 5m
        rules:
          - 80percentOn.rego